body {
    background-color: #EF9A9A;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.error-code {
    font-weight: bold;
    font-size: 160px;
}

.error-message {
    font-size: 70px;
}